<nav class="navbar navbar-light bg-light">
  <%= link_to t('.admin_panel'), admin_tests_path, class: 'navbar-brand' %>
  <%= link_to 'Badges', admin_badges_path, class: 'nav-item' %>
  <%= link_to root_path, class: 'mr-auto mx-3' do %>
    <i class="fas fa-users"></i>
  <% end %>
  <span class="navbar-text">
      <%= t('.welcome') %> <%= current_user.name %> Guru | <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </span>
</nav>


