<h1><%= t('.header') %></h1>

<%= render 'shared/errors', resource: @badge %>

<table class="table table-hover">
  <thead class="thead">
    <tr>
      <th><%= t('.achievement') %></th>
      <th><%= t('.rule') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @badges %>
  </tbody>
</table>