<h2><%= t('.header') %></h2>

<%= render 'shared/errors', resource: @test %>

<table class="table table-bordered table-dark">
  <thead>
    <tr align="center">
      <th><%= t('.title')%></th>
      <th><%= t('.level')%></th>
      <th><%= t('.count_of_questions')%></th>
      <th colspan="3"><%= t('.actions')%></th>
    </tr>

  <%= render @tests %>
</table></br>
<%= link_to t('.create_test'), new_admin_test_path %>
