<h2><%= t('.header') %></h2>
<table class="table">
  <thead class="thead-dark">
    <tr align="center">
      <th class="sort-by-title pointer">
        <%= t('.title')%>
        <i class="fas fa-arrow-up hide"></i>
        <i class="fas fa-arrow-down hide"></i>
      </th>
      <th><%= t('.level')%></th>
      <th><%= t('.count_of_questions')%></th>
      <th><i class="fas fa-history"></i></th>
    </tr>
  </thead>
  <%= render @tests %>
</table></br>
