<h2><%= t('.header') %></h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th><%= t('.title')%></th>
      <th><%= t('.level')%></th>
      <th><%= t('.count_of_questions')%></th>
      <th><%= t('.start')%></th>
    </tr>
  </thead>
  <%= render @tests %>

</table></br>
