<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <div class="content-inside">
        <%= link_to 'Home', root_path %>
        <% if logged_in? %>
          <p class="nav user">Welcome, <b><%= current_user.name %></b></p>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <footer class="footer">
      <%= github_url('resh0607', 'TestGuru') %>
      <span>- проверьте свои знания в IT</span></br>
      <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank' %></br>
      <span>Автор: Иван Решетняк</span></br>
      <span><%= current_year %></span>
    </footer>
  </body>
</html>