<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <div class="content-inside">
        <%= yield %>
      </div>
    </div>
    <footer class="footer">
      <%= link_to 'TestGuru', 'https://github.com/resh0607/TestGuru' %>
      <span>- проверьте свои знания в IT</span></br>
      <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com' %></br>
      <span>Автор: Иван Решетняк</span></br>
      <span><%= Time.now.year %></span>
    </footer>
  </body>
</html>